* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --font-arabic: "Tajawal", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}


html {
  direction: rtl;
  /* لو مشروعك عربي بالكامل */
}

body {
  text-decoration: none;
  /* background-color: #8fadce; */
  background: #fff;
  color: #000;
  max-width: "1200px";
  font-family: var(--font-arabic);
  line-height: 1.7;
  /* قراءة أوضح بالعربي */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
body, input, button, textarea, select {
  font-family: "Tajawal", system-ui, sans-serif;
}